static/bootstrap/* linguist-vendored
static/fontawesome/* linguist-vendored
static/jquery/* linguist-vendored
static/marked/* linguist-vendored
static/highlight/* linguist-vendored
static/echarts/* linguist-vendored
static/codemirror/* linguist-vendored
backend/templates/* linguist-vendored
blog/templates/* linguist-vendored