.backtop-btn {
    color: rgba(125, 125, 125, 0.6);
    border-radius: 999px;
    width: 5rem;
    height: 5rem;
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    text-align: center;
    font-size: 3rem;
    transform: rotate(-45deg);

    transition: color 0.5s;
}
.backtop-btn:hover {
    color: rgba(125, 125, 125, 1);
}