<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app/backend/category_list.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'global/global.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>目录列表</title>
</head>

<body>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form action="categories/new" method="post" class="form-inline" onsubmit="return check();">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="category-name" class="sr-only">新建分类名</label>
                        <input type="text" name="category_name" id="category-name" class="form-control"
                            placeholder="新建分类名" autocomplete="false" />
                        <div class="invalid-feedback" id="category-name-invalid"></div>
                    </div>
                    <input type="submit" class="btn btn-outline-success" value="确认创建" style="margin-left: 1rem" />
                </form>
            </div>
        </div>
        <div class="card" style="margin-top: 1rem">
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>分类名</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in category_list %}
                        <tr>
                            <td>{{ c.category_name }}</td>
                            <td>
                                <button onclick="handleDeleteButton({{ c.pk }})" class="btn btn-danger">删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="delete-confirm-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">警告</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>你真的要将这个分类删除吗？级联文章也将被删除！</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="handleConfirmDeleteButton()">确认</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>