<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app/backend/dashboard.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'global/global.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>控制面板</title>
</head>

<body>
    {% include 'widgets/nav.html' %}
    <div class="container" style="margin-top: 4rem">
        <div class="row">
            <div class="col-lg-2">
                <div class="list-group">
                    <a onclick="navTo('/backend/blogs')"
                        class="list-group-item list-group-item-action dashboard-menu"><i
                            class="fas fa-list text-secondary"></i>
                        文章列表</a>
                    <a onclick="navTo('/backend/categories')"
                        class="list-group-item list-group-item-action dashboard-menu"><i
                            class="fas fa-tags text-secondary"></i>
                        分类列表</a>
                    <a onclick="navTo('/backend/replies')"
                        class="list-group-item list-group-item-action dashboard-menu"><i
                            class="fas fa-comment-dots text-secondary"></i>
                        评论列表</a>
                    <a onclick="navTo('/backend/blogs/edit')"
                        class="list-group-item list-group-item-action dashboard-menu"><i
                            class="fas fa-pencil-alt text-secondary"></i>
                        撰写文章</a>
                </div>
                <div class="list-group" style="margin-top: 1rem">
                    <a onclick="navTo('/backend/author')"
                        class="list-group-item list-group-item-action dashboard-menu"><i
                            class="fas fa-user text-secondary"></i>
                        博主信息</a>
                    <a onclick="navTo('/backend/password/edit')"
                        class="list-group-item list-group-item-action dashboard-menu"><i
                            class="fas fa-key text-secondary"></i> 修改密码</a>
                </div>
                <div class="list-group" style="margin-top: 1rem">
                    <a onclick="navTo('/backend/config/edit')"
                        class="list-group-item list-group-item-action dashboard-menu"><i
                            class="fas fa-cog text-secondary"></i> 站点设置</a>
                    <a onclick="navTo('/backend/tools')"
                        class="list-group-item list-group-item-action dashboard-menu"><i
                            class="fas fa-toolbox text-secondary"></i> 站点工具</a>
                    <a onclick="navTo('/backend/statistics')" class="list-group-item list-group-item-action dashboard-menu"><i
                            class="fas fa-chart-line text-secondary"></i>
                        统计数据</a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <iframe id="iframe" src="/backend/blogs" frameBorder="0"
                            style="width: 100%; height: 80vh;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    .dashboard-menu {
        cursor: pointer;
    }
</style>

</html>