<!DOCTYPE html>
<html lang="zh-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app/backend/password_edit.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'global/global.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>密码修改</title>
</head>

<body>
    <div class="container-fluid">
        {% if status == 'success' %}
        <div class="alert alert-success alert-dismissible fade show">
            修改成功
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <form action="/backend/password/update" method="post" onsubmit="return check();">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="password">旧密码</label>
                        <input type="password" id="password" name="password" class="form-control {% if status == 'error' %}is-invalid{% endif %}" />
                        <div class="invalid-feedback" id="password-invalid">{% if status == 'error' %}{{ msg }}{% endif %}</div>
                    </div>
                    <div class="form-group">
                        <label for="new-password">新密码</label>
                        <input type="password" id="new-password" name="newpassword"
                            class="form-control" />
                        <div class="invalid-feedback" id="new-password-invalid"></div>
                    </div>
                    <div class="form-group">
                        <label for="re-password">新密码（再次输入）</label>
                        <input type="password" id="re-password" name="repassword" class="form-control" />
                        <div class="invalid-feedback" id="re-password-invalid"></div>
                    </div>
                    <div style="text-align: right">
                        <input type="submit" class="btn btn-danger" value="确认修改" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>